<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="bindingIiTMInterfaceService" receiveTimeout="infinite" closeTimeout="00:01:00"
          openTimeout="00:01:00" sendTimeout="00:01:00"
          listenBacklog="256" maxBufferPoolSize="67108864" maxBufferSize="67108864"
          maxConnections="256" maxReceivedMessageSize="67108864">
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint name="CalculatorService" address="net.tcp://127.0.0.1:9999/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="bindingIiTMInterfaceService" contract="WcfTcpServer.ICalculator" />
    </client>
    
    
  </system.serviceModel>
</configuration>