<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="webSocketChannelBinding"
             type="WebSocketChannel.WebSocketBindingCollectionElement, WebSocketChannel" />
      </bindingExtensions>
    </extensions>

    <bindings>
      <webSocketChannelBinding>
        <binding name="CalculatorServiceServer" receiveBufferSize="1024000" useProxy="false" />
      </webSocketChannelBinding>
    </bindings>

    <client>
      <endpoint address="ws://localhost:12012"
                  binding="webSocketChannelBinding"
                  bindingConfiguration="CalculatorServiceServer"
                  contract="WcfServer.ICalculator"
                  name="CalculatorClient" />
    </client>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
