<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
      <services>
        
        <service name="WcfTcpServer.CalculatorService">
          <endpoint address="net.tcp://127.0.0.1:9999/CalculatorService"
                    binding="netTcpBinding" contract="WcfTcpServer.ICalculator" />

        </service>
        
      </services>
  </system.serviceModel>
</configuration>